[submodule "libraries/gatekeeper"]
	path = libraries/gatekeeper
	url = https://github.com/rakki194/gatekeeper
[submodule "third_party/yipyap"]
	path = third_party/yipyap
	url = https://github.com/rakki194/yipyap
[submodule "third_party/pawprint"]
	path = third_party/pawprint
	url = https://github.com/rakki194/pawprint
[submodule "third_party/P4RS3LT0NGV3"]
	path = third_party/P4RS3LT0NGV3
	url = https://github.com/elder-plinius/P4RS3LT0NGV3
[submodule "third_party/L1B3RT4S"]
	path = third_party/L1B3RT4S
	url = https://github.com/elder-plinius/L1B3RT4S
[submodule "third_party/CL4R1T4S"]
	path = third_party/CL4R1T4S
	url = https://github.com/elder-plinius/CL4R1T4S
[submodule "third_party/STEGOSAURUS-WRECKS"]
	path = third_party/STEGOSAURUS-WRECKS
	url = https://github.com/elder-plinius/STEGOSAURUS-WRECKS
